@model IEnumerable<RestarauntHomeTaste.Data.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReservatoion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clients.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tables.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReservatoion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
