@model IEnumerable<RestarauntHomeTaste.Data.Table>

@{
    ViewData["Title"] = "Index";
}

<h1>Маси</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Снимка
            </th>
            <th>
                Номер на масата
            </th>


            <th>
                Капацитет за посетители
            </th>
            <th>
                Дата на добавяне
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="120" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableNumber)
                </td>

          
                <td>
                    @Html.DisplayFor(modelItem => item.VisitorsCount) гости
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdate)
                </td>
               
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                
              
            </tr>
        }
    </tbody>
</table>
