@model IEnumerable<RestarauntHomeTaste.Data.Dish>

@{
    ViewData["Title"] = "Index";
}

<h1>Меню-ястия🍲</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Снимка
            </th>
            <th>
                Ястие
            </th>
            <th>
               Вид на ястието
            </th>
          
            <th>
                Алергени
            </th>
            <th>
                Грамаж
            </th>
            <th>
                  Цена
            </th>
       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                       <a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="120"/></a>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishTypes.Name)
            </td>
      
        
            <td>
                @Html.DisplayFor(modelItem => item.Allergens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight) грама
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) лв.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
             
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                

        </tr>
}
    </tbody>
</table>
